{
	"trailingComma": "all",
	"tabWidth": 2,
	"printWidth": 95,
	"semi": false,
	"singleQuote": false,
	"useTabs": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
