@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: Inter, sans-serif;

  --color-kui-black: #000000;

  --color-kui-light-bg: hsla(0, 0%, 100%, 1);
  --color-kui-light-bg-secondary: hsla(0, 0%, 98%, 1);

  --color-kui-light-gray-100: hsla(0, 0%, 95%, 1);
  --color-kui-light-gray-200: hsla(0, 0%, 92%, 1);
  --color-kui-light-gray-300: hsla(0, 0%, 90%, 1);
  --color-kui-light-gray-400: hsla(0, 0%, 92%, 1);
  --color-kui-light-gray-500: hsla(0, 0%, 79%, 1);
  --color-kui-light-gray-600: hsla(0, 0%, 66%, 1);
  --color-kui-light-gray-700: hsla(0, 0%, 56%, 1);
  --color-kui-light-gray-800: hsla(0, 0%, 49%, 1);
  --color-kui-light-gray-900: hsla(0, 0%, 40%, 1);
  --color-kui-light-gray-1000: hsla(0, 0%, 9%, 1);

  --color-kui-light-gray-alpha-100: rgba(0, 0, 0, 0.05);
  --color-kui-light-gray-alpha-200: hsla(0, 0%, 0%, 0.081);
  --color-kui-light-gray-alpha-300: hsla(0, 0%, 0%, 0.1);
  --color-kui-light-gray-alpha-400: hsla(0, 0%, 0%, 0.08);
  --color-kui-light-gray-alpha-500: hsla(0, 0%, 0%, 0.21);
  --color-kui-light-gray-alpha-600: hsla(0, 0%, 0%, 0.34);
  --color-kui-light-gray-alpha-700: hsla(0, 0%, 0%, 0.44);
  --color-kui-light-gray-alpha-800: hsla(0, 0%, 0%, 0.51);
  --color-kui-light-gray-alpha-900: hsla(0, 0%, 0%, 0.61);
  --color-kui-light-gray-alpha-1000: hsla(0, 0%, 0%, 0.91);

  --color-kui-light-blue-100: oklch(97.32% 0.0141 251.56);
  --color-kui-light-blue-200: oklch(96.29% 0.0195 250.59);
  --color-kui-light-blue-300: oklch(94.58% 0.0293 249.84870859673202);
  --color-kui-light-blue-400: oklch(91.58% 0.0473 245.11621922481282);
  --color-kui-light-blue-500: oklch(82.75% 0.0979 248.48);
  --color-kui-light-blue-600: oklch(73.08% 0.1583 248.133320980386);
  --color-kui-light-blue-700: oklch(57.61% 0.2508 258.23);
  --color-kui-light-blue-800: oklch(51.51% 0.2399 257.85);
  --color-kui-light-blue-900: oklch(53.18% 0.2399 256.9900584162342);
  --color-kui-light-blue-1000: oklch(26.67% 0.1099 254.34);

  --color-kui-light-red-100: oklch(96.5% 0.0223 13.09);
  --color-kui-light-red-200: oklch(95.41% 0.0299 14.252646656611997);
  --color-kui-light-red-300: oklch(94.33% 0.0369 15.011509923860523);
  --color-kui-light-red-400: oklch(91.51% 0.0471 19.8);
  --color-kui-light-red-500: oklch(84.47% 0.1018 17.71);
  --color-kui-light-red-600: oklch(71.12% 0.1881 21.22);
  --color-kui-light-red-700: oklch(62.56% 0.2524 23.03);
  --color-kui-light-red-800: oklch(58.19% 0.2482 25.15);
  --color-kui-light-red-900: oklch(54.99% 0.232 25.29);
  --color-kui-light-red-1000: oklch(24.8% 0.1041 18.86);

  --color-kui-light-amber-100: oklch(97.48% 0.0331 85.79);
  --color-kui-light-amber-200: oklch(96.81% 0.0495 90.24227879900472);
  --color-kui-light-amber-300: oklch(95.93% 0.0636 90.52);
  --color-kui-light-amber-400: oklch(91.02% 0.1322 88.25);
  --color-kui-light-amber-500: oklch(86.55% 0.1583 79.63);
  --color-kui-light-amber-600: oklch(80.25% 0.1953 73.59);
  --color-kui-light-amber-700: oklch(81.87% 0.1969 76.46);
  --color-kui-light-amber-800: oklch(77.21% 0.1991 64.28);
  --color-kui-light-amber-900: oklch(52.79% 0.1496 54.65);
  --color-kui-light-amber-1000: oklch(30.83% 0.099 45.48);

  --color-kui-light-green-100: oklch(97.59% 0.0289 145.42);
  --color-kui-light-green-200: oklch(96.92% 0.037 147.15);
  --color-kui-light-green-300: oklch(94.6% 0.0674 144.23);
  --color-kui-light-green-400: oklch(91.49% 0.0976 146.24);
  --color-kui-light-green-500: oklch(85.45% 0.1627 146.3);
  --color-kui-light-green-600: oklch(80.25% 0.214 145.18);
  --color-kui-light-green-700: oklch(64.58% 0.1746 147.27);
  --color-kui-light-green-800: oklch(57.81% 0.1507 147.5);
  --color-kui-light-green-900: oklch(51.75% 0.1453 147.65);
  --color-kui-light-green-1000: oklch(29.15% 0.1197 147.38);

  --color-kui-light-teal-100: oklch(97.72% 0.0359 186.7);
  --color-kui-light-teal-200: oklch(97.06% 0.0347 180.66);
  --color-kui-light-teal-300: oklch(94.92% 0.0478 182.07);
  --color-kui-light-teal-400: oklch(92.76% 0.0718 183.78);
  --color-kui-light-teal-500: oklch(86.88% 0.1344 182.42);
  --color-kui-light-teal-600: oklch(81.5% 0.161 178.96);
  --color-kui-light-teal-700: oklch(64.92% 0.1572 181.95);
  --color-kui-light-teal-800: oklch(57.53% 0.1392 181.66);
  --color-kui-light-teal-900: oklch(52.08% 0.1251 182.93);
  --color-kui-light-teal-1000: oklch(32.11% 0.0788 179.82);

  --color-kui-light-purple-100: oklch(96.65% 0.0244 312.1890119359961);
  --color-kui-light-purple-200: oklch(96.73% 0.0228 309.8);
  --color-kui-light-purple-300: oklch(94.85% 0.0364 310.15);
  --color-kui-light-purple-400: oklch(91.77% 0.0614 312.82);
  --color-kui-light-purple-500: oklch(81.26% 0.1409 310.8);
  --color-kui-light-purple-600: oklch(72.07% 0.2083 308.19);
  --color-kui-light-purple-700: oklch(55.5% 0.3008 306.12);
  --color-kui-light-purple-800: oklch(48.58% 0.2638 305.73);
  --color-kui-light-purple-900: oklch(47.18% 0.2579 304);
  --color-kui-light-purple-1000: oklch(23.96% 0.13 305.66);

  --color-kui-light-pink-100: oklch(95.69% 0.0359 344.6218910697224);
  --color-kui-light-pink-200: oklch(95.71% 0.0321 353.14);
  --color-kui-light-pink-300: oklch(93.83% 0.0451 356.29);
  --color-kui-light-pink-400: oklch(91.12% 0.0573 358.82);
  --color-kui-light-pink-500: oklch(84.28% 0.0915 356.99);
  --color-kui-light-pink-600: oklch(74.33% 0.1547 0.24);
  --color-kui-light-pink-700: oklch(63.52% 0.238 1.01);
  --color-kui-light-pink-800: oklch(59.51% 0.2339 4.21);
  --color-kui-light-pink-900: oklch(53.5% 0.2058 2.84);
  --color-kui-light-pink-1000: oklch(26% 0.0977 359);

  --color-kui-dark-bg: hsla(0, 0%, 4%, 1);
  --color-kui-dark-bg-secondary: hsla(0, 0%, 0%, 1);

  --color-kui-dark-gray-100: hsla(0, 0%, 10%, 1);
  --color-kui-dark-gray-200: hsla(0, 0%, 12%, 1);
  --color-kui-dark-gray-300: hsla(0, 0%, 16%, 1);
  --color-kui-dark-gray-400: hsla(0, 0%, 18%, 1);
  --color-kui-dark-gray-500: hsla(0, 0%, 27%, 1);
  --color-kui-dark-gray-600: hsla(0, 0%, 53%, 1);
  --color-kui-dark-gray-700: hsla(0, 0%, 56%, 1);
  --color-kui-dark-gray-800: hsla(0, 0%, 49%, 1);
  --color-kui-dark-gray-900: hsla(0, 0%, 63%, 1);
  --color-kui-dark-gray-1000: hsla(0, 0%, 93%, 1);

  --color-kui-dark-gray-alpha-100: rgba(255, 255, 255, 0.06);
  --color-kui-dark-gray-alpha-200: hsla(0, 0%, 100%, 0.09);
  --color-kui-dark-gray-alpha-300: hsla(0, 0%, 100%, 0.13);
  --color-kui-dark-gray-alpha-400: hsla(0, 0%, 100%, 0.14);
  --color-kui-dark-gray-alpha-500: hsla(0, 0%, 100%, 0.24);
  --color-kui-dark-gray-alpha-600: hsla(0, 0%, 100%, 0.51);
  --color-kui-dark-gray-alpha-700: hsla(0, 0%, 100%, 0.54);
  --color-kui-dark-gray-alpha-800: hsla(0, 0%, 100%, 0.47);
  --color-kui-dark-gray-alpha-900: hsla(0, 0%, 100%, 0.61);
  --color-kui-dark-gray-alpha-1000: hsla(0, 0%, 100%, 0.92);

  --color-kui-dark-blue-100: oklch(22.17% 0.069 259.89);
  --color-kui-dark-blue-200: oklch(25.45% 0.0811 255.8);
  --color-kui-dark-blue-300: oklch(30.86% 0.1022 255.21);
  --color-kui-dark-blue-400: oklch(34.1% 0.121 254.74);
  --color-kui-dark-blue-500: oklch(38.5% 0.1403 254.4);
  --color-kui-dark-blue-600: oklch(64.94% 0.1982 251.8131841760864);
  --color-kui-dark-blue-700: oklch(57.61% 0.2321 258.23);
  --color-kui-dark-blue-800: oklch(51.51% 0.2307 257.85);
  --color-kui-dark-blue-900: oklch(71.7% 0.1648 250.79360374054167);
  --color-kui-dark-blue-1000: oklch(96.75% 0.0179 242.4234217368056);

  --color-kui-dark-red-100: oklch(22.1% 0.0657 15.11);
  --color-kui-dark-red-200: oklch(25.93% 0.0834 19.02);
  --color-kui-dark-red-300: oklch(31.47% 0.1105 20.96);
  --color-kui-dark-red-400: oklch(35.27% 0.1273 21.23);
  --color-kui-dark-red-500: oklch(40.68% 0.1479 23.16);
  --color-kui-dark-red-600: oklch(62.56% 0.2277 23.03);
  --color-kui-dark-red-700: oklch(62.56% 0.2234 23.03);
  --color-kui-dark-red-800: oklch(58.01% 0.227 25.12);
  --color-kui-dark-red-900: oklch(69.96% 0.2136 22.03);
  --color-kui-dark-red-1000: oklch(95.6% 0.0293 6.61);

  --color-kui-dark-amber-100: oklch(22.46% 0.0538 76.04);
  --color-kui-dark-amber-200: oklch(24.95% 0.0642 64.78);
  --color-kui-dark-amber-300: oklch(32.34% 0.0837 63.83);
  --color-kui-dark-amber-400: oklch(35.53% 0.0903 66.29707162673735);
  --color-kui-dark-amber-500: oklch(41.55% 0.1044 67.98);
  --color-kui-dark-amber-600: oklch(75.04% 0.1737 74.49);
  --color-kui-dark-amber-700: oklch(81.87% 0.1969 76.46);
  --color-kui-dark-amber-800: oklch(77.21% 0.1991 64.28);
  --color-kui-dark-amber-900: oklch(77.21% 0.1991 64.28);
  --color-kui-dark-amber-1000: oklch(96.7% 0.0418 84.59);

  --color-kui-dark-green-100: oklch(23.09% 0.0716 149.68);
  --color-kui-dark-green-200: oklch(27.12% 0.0895 150.09);
  --color-kui-dark-green-300: oklch(29.84% 0.096 149.25);
  --color-kui-dark-green-400: oklch(34.39% 0.1039 147.78);
  --color-kui-dark-green-500: oklch(44.19% 0.1484 147.2);
  --color-kui-dark-green-600: oklch(58.11% 0.1815 146.55);
  --color-kui-dark-green-700: oklch(64.58% 0.199 147.27);
  --color-kui-dark-green-800: oklch(57.81% 0.1776 147.5);
  --color-kui-dark-green-900: oklch(73.1% 0.2158 148.29);
  --color-kui-dark-green-1000: oklch(96.76% 0.056 154.18);

  --color-kui-dark-teal-100: oklch(22.1% 0.0544 178.74);
  --color-kui-dark-teal-200: oklch(25.06% 0.062 178.76);
  --color-kui-dark-teal-300: oklch(31.5% 0.0767 180.99);
  --color-kui-dark-teal-400: oklch(32.43% 0.0763 180.13);
  --color-kui-dark-teal-500: oklch(43.35% 0.1055 180.97);
  --color-kui-dark-teal-600: oklch(60.71% 0.1485 180.24);
  --color-kui-dark-teal-700: oklch(64.92% 0.1403 181.95);
  --color-kui-dark-teal-800: oklch(57.53% 0.1392 181.66);
  --color-kui-dark-teal-900: oklch(74.56% 0.1765 182.8);
  --color-kui-dark-teal-1000: oklch(96.46% 0.056 180.29);

  --color-kui-dark-purple-100: oklch(22.34% 0.0779 316.87);
  --color-kui-dark-purple-200: oklch(25.91% 0.0921 314.41);
  --color-kui-dark-purple-300: oklch(31.98% 0.1219 312.41);
  --color-kui-dark-purple-400: oklch(35.93% 0.1504 309.78);
  --color-kui-dark-purple-500: oklch(40.99% 0.1721 307.92);
  --color-kui-dark-purple-600: oklch(55.5% 0.2191 306.12);
  --color-kui-dark-purple-700: oklch(55.5% 0.2186 306.12);
  --color-kui-dark-purple-800: oklch(48.58% 0.2102 305.73);
  --color-kui-dark-purple-900: oklch(69.87% 0.2037 309.51);
  --color-kui-dark-purple-1000: oklch(96.1% 0.0304 316.46);

  --color-kui-dark-pink-100: oklch(22.67% 0.0628 354.73);
  --color-kui-dark-pink-200: oklch(26.2% 0.0859 356.68);
  --color-kui-dark-pink-300: oklch(31.15% 0.1067 355.93);
  --color-kui-dark-pink-400: oklch(32.13% 0.1174 356.71);
  --color-kui-dark-pink-500: oklch(37.01% 0.1453 358.39);
  --color-kui-dark-pink-600: oklch(50.33% 0.2089 4.33);
  --color-kui-dark-pink-700: oklch(63.52% 0.2346 1.01);
  --color-kui-dark-pink-800: oklch(59.51% 0.2429 4.21);
  --color-kui-dark-pink-900: oklch(69.36% 0.2223 3.91);
  --color-kui-dark-pink-1000: oklch(95.74% 0.0326 350.08);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/*Scrollbar with transparent track and small size*/
.ui-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.ui-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.ui-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-kui-light-gray-600 dark:bg-kui-dark-gray-600 rounded-full;
}

.ui-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-kui-light-gray-700 dark:bg-kui-dark-gray-700;
}

