@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/*Scrollbar with transparent track and small size*/
.ui-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.ui-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.ui-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-kui-light-gray-200 dark:bg-kui-dark-gray-400 rounded-full;
}

.ui-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-kui-light-gray-300 dark:bg-kui-dark-gray-500;
}

