@variant dark (&:where(.dark, .dark *));

@theme {
	--color-kui-black: #000000;

	--color-kui-light-bg: hsla(0, 0%, 100%, 1);
	--color-kui-light-bg-secondary: hsla(0, 0%, 98%, 1);

	--color-kui-light-gray-100: hsla(0, 0%, 95%, 1);
	--color-kui-light-gray-200: hsla(0, 0%, 92%, 1);
	--color-kui-light-gray-300: hsla(0, 0%, 90%, 1);
	--color-kui-light-gray-400: hsla(0, 0%, 92%, 1);
	--color-kui-light-gray-500: hsla(0, 0%, 79%, 1);
	--color-kui-light-gray-600: hsla(0, 0%, 66%, 1);
	--color-kui-light-gray-700: hsla(0, 0%, 56%, 1);
	--color-kui-light-gray-800: hsla(0, 0%, 49%, 1);
	--color-kui-light-gray-900: hsla(0, 0%, 30%, 1);
	--color-kui-light-gray-1000: hsla(0, 0%, 9%, 1);

	--color-kui-light-gray-alpha-100: hsla(0, 0%, 0%, 0.051);
	--color-kui-light-gray-alpha-200: hsla(0, 0%, 0%, 0.082);
	--color-kui-light-gray-alpha-300: hsla(0, 0%, 0%, 0.102);
	--color-kui-light-gray-alpha-400: hsla(0, 0%, 0%, 0.078);
	--color-kui-light-gray-alpha-500: hsla(0, 0%, 0%, 0.212);
	--color-kui-light-gray-alpha-600: hsla(0, 0%, 0%, 0.239);
	--color-kui-light-gray-alpha-700: hsla(0, 0%, 0%, 0.439);
	--color-kui-light-gray-alpha-800: hsla(0, 0%, 0%, 0.51);
	--color-kui-light-gray-alpha-900: hsla(0, 0%, 0%, 0.702);
	--color-kui-light-gray-alpha-1000: hsla(0, 0%, 0%, 0.91);

	--color-kui-light-blue-100: oklch(97.3179% 0.0132 251.6439);
	--color-kui-light-blue-200: oklch(96.2874% 0.0184 250.6587);
	--color-kui-light-blue-300: oklch(94.5751% 0.027 249.902);
	--color-kui-light-blue-400: oklch(91.5778% 0.0437 245.1643);
	--color-kui-light-blue-500: oklch(82.6892% 0.091 248.0396);
	--color-kui-light-blue-600: oklch(73.0072% 0.1475 247.7475);
	--color-kui-light-blue-700: oklch(57.626% 0.2196 258.6347);
	--color-kui-light-blue-800: oklch(51.7971% 0.2071 259.6209);
	--color-kui-light-blue-900: oklch(53.5071% 0.2075 259.0094);
	--color-kui-light-blue-1000: oklch(26.9013% 0.095 256.8601);

	--color-kui-light-red-100: oklch(96.3118% 0.0186 8.9494);
	--color-kui-light-red-200: oklch(95.1939% 0.024 14.1725);
	--color-kui-light-red-300: oklch(94.1091% 0.0297 14.9331);
	--color-kui-light-red-400: oklch(91.4776% 0.0436 19.595);
	--color-kui-light-red-500: oklch(84.2753% 0.0864 18.0936);
	--color-kui-light-red-600: oklch(71.0899% 0.182 21.3312);
	--color-kui-light-red-700: oklch(62.5316% 0.2524 23.0614);
	--color-kui-light-red-800: oklch(58.4247% 0.2372 25.7312);
	--color-kui-light-red-900: oklch(55.1692% 0.2239 25.4878);
	--color-kui-light-red-1000: oklch(24.9462% 0.1001 19.5749);

	--color-kui-light-amber-100: oklch(97.4612% 0.0291 87.5812);
	--color-kui-light-amber-200: oklch(96.7585% 0.0432 91.3011);
	--color-kui-light-amber-300: oklch(95.9001% 0.0551 91.4436);
	--color-kui-light-amber-400: oklch(90.7452% 0.1147 89.1699);
	--color-kui-light-amber-500: oklch(86.2167% 0.1371 81.5162);
	--color-kui-light-amber-600: oklch(80.1576% 0.1704 73.2719);
	--color-kui-light-amber-700: oklch(81.6073% 0.1704 77.4364);
	--color-kui-light-amber-800: oklch(77.195% 0.1737 64.553);
	--color-kui-light-amber-900: oklch(52.7478% 0.1361 51.738);
	--color-kui-light-amber-1000: oklch(30.9865% 0.0913 43.2723);

	--color-kui-light-green-100: oklch(97.6903% 0.0286 145.5717);
	--color-kui-light-green-200: oklch(96.861% 0.0367 147.9389);
	--color-kui-light-green-300: oklch(94.6738% 0.0678 143.8196);
	--color-kui-light-green-400: oklch(91.4798% 0.0979 146.0365);
	--color-kui-light-green-500: oklch(85.3933% 0.1619 146.2944);
	--color-kui-light-green-600: oklch(80.351% 0.2142 145.1797);
	--color-kui-light-green-700: oklch(64.5931% 0.175 147.1988);
	--color-kui-light-green-800: oklch(57.9171% 0.1508 147.5805);
	--color-kui-light-green-900: oklch(51.6323% 0.1443 147.7921);
	--color-kui-light-green-1000: oklch(29.3239% 0.0883 146.539);

	--color-kui-light-teal-100: oklch(97.6038% 0.0335 187.6859);
	--color-kui-light-teal-200: oklch(97.1252% 0.0357 179.4745);
	--color-kui-light-teal-300: oklch(94.8477% 0.0473 183.4482);
	--color-kui-light-teal-400: oklch(92.6804% 0.0711 184.0579);
	--color-kui-light-teal-500: oklch(86.7911% 0.1339 182.5911);
	--color-kui-light-teal-600: oklch(81.6946% 0.1498 178.527);
	--color-kui-light-teal-700: oklch(65.0423% 0.1169 181.58);
	--color-kui-light-teal-800: oklch(57.6937% 0.1039 181.1792);
	--color-kui-light-teal-900: oklch(52.033% 0.0927 183.0609);
	--color-kui-light-teal-1000: oklch(32.2359% 0.0589 179.1301);

	--color-kui-light-purple-100: oklch(96.6462% 0.0221 311.9388);
	--color-kui-light-purple-200: oklch(96.8379% 0.0204 310.8225);
	--color-kui-light-purple-300: oklch(94.8019% 0.0336 310.5615);
	--color-kui-light-purple-400: oklch(91.6476% 0.057 313.0615);
	--color-kui-light-purple-500: oklch(81.2441% 0.1297 311.3093);
	--color-kui-light-purple-600: oklch(71.97% 0.1931 308.5789);
	--color-kui-light-purple-700: oklch(55.7613% 0.2882 305.9495);
	--color-kui-light-purple-800: oklch(48.7966% 0.2526 305.6408);
	--color-kui-light-purple-900: oklch(47.3746% 0.248 303.6367);
	--color-kui-light-purple-1000: oklch(24.0675% 0.125 305.0579);

	--color-kui-light-pink-100: oklch(95.6932% 0.0269 344.3658);
	--color-kui-light-pink-200: oklch(95.6072% 0.025 352.1916);
	--color-kui-light-pink-300: oklch(93.5248% 0.0369 354.2073);
	--color-kui-light-pink-400: oklch(91.197% 0.0493 358.936);
	--color-kui-light-pink-500: oklch(84.3218% 0.0912 357.2066);
	--color-kui-light-pink-600: oklch(74.3485% 0.1553 0.4125);
	--color-kui-light-pink-700: oklch(63.4436% 0.238 0.9421);
	--color-kui-light-pink-800: oklch(59.5211% 0.2341 4.218);
	--color-kui-light-pink-900: oklch(53.5659% 0.2063 2.8898);
	--color-kui-light-pink-1000: oklch(26.1254% 0.0978 359.2167);

	--color-kui-dark-bg: hsla(0, 0%, 0%, 1);
	--color-kui-dark-bg-secondary: hsla(0, 0%, 0%, 1);

	--color-kui-dark-gray-100: hsla(0, 0%, 10%, 1);
	--color-kui-dark-gray-200: hsla(0, 0%, 12%, 1);
	--color-kui-dark-gray-300: hsla(0, 0%, 16%, 1);
	--color-kui-dark-gray-400: hsla(0, 0%, 18%, 1);
	--color-kui-dark-gray-500: hsla(0, 0%, 27%, 1);
	--color-kui-dark-gray-600: hsla(0, 0%, 53%, 1);
	--color-kui-dark-gray-700: hsla(0, 0%, 56%, 1);
	--color-kui-dark-gray-800: hsla(0, 0%, 49%, 1);
	--color-kui-dark-gray-900: hsla(0, 0%, 63%, 1);
	--color-kui-dark-gray-1000: hsla(0, 0%, 93%, 1);

	--color-kui-dark-gray-alpha-100: hsla(0, 0%, 100%, 0.071);
	--color-kui-dark-gray-alpha-200: hsla(0, 0%, 100%, 0.09);
	--color-kui-dark-gray-alpha-300: hsla(0, 0%, 100%, 0.129);
	--color-kui-dark-gray-alpha-400: hsla(0, 0%, 100%, 0.141);
	--color-kui-dark-gray-alpha-500: hsla(0, 0%, 100%, 0.239);
	--color-kui-dark-gray-alpha-600: hsla(0, 0%, 100%, 0.51);
	--color-kui-dark-gray-alpha-700: hsla(0, 0%, 100%, 0.541);
	--color-kui-dark-gray-alpha-800: hsla(0, 0%, 100%, 0.471);
	--color-kui-dark-gray-alpha-900: hsla(0, 0%, 100%, 0.612);
	--color-kui-dark-gray-alpha-1000: hsla(0, 0%, 100%, 0.922);

	--color-kui-dark-blue-100: oklch(22.0457% 0.0689 260.231);
	--color-kui-dark-blue-200: oklch(25.4845% 0.0802 255.1297);
	--color-kui-dark-blue-300: oklch(30.9934% 0.1021 255.0074);
	--color-kui-dark-blue-400: oklch(34.2291% 0.1131 255.099);
	--color-kui-dark-blue-500: oklch(38.6684% 0.1298 255.5264);
	--color-kui-dark-blue-600: oklch(64.9294% 0.1931 251.7923);
	--color-kui-dark-blue-700: oklch(57.7487% 0.2172 258.3483);
	--color-kui-dark-blue-800: oklch(51.6651% 0.2009 259.0605);
	--color-kui-dark-blue-900: oklch(71.6621% 0.1531 250.6039);
	--color-kui-dark-blue-1000: oklch(96.7547% 0.0169 242.5566);

	--color-kui-dark-red-100: oklch(22.0907% 0.0657 14.4029);
	--color-kui-dark-red-200: oklch(26.0387% 0.0832 19.258);
	--color-kui-dark-red-300: oklch(31.38% 0.1105 20.9374);
	--color-kui-dark-red-400: oklch(35.2835% 0.1274 21.4971);
	--color-kui-dark-red-500: oklch(40.688% 0.1484 23.2118);
	--color-kui-dark-red-600: oklch(62.6043% 0.2282 22.9851);
	--color-kui-dark-red-700: oklch(62.542% 0.2237 22.8758);
	--color-kui-dark-red-800: oklch(58.0878% 0.2273 25.0836);
	--color-kui-dark-red-900: oklch(69.4407% 0.1959 22.0047);
	--color-kui-dark-red-1000: oklch(95.4667% 0.0231 7.4102);

	--color-kui-dark-amber-100: oklch(22.6146% 0.0479 74.2537);
	--color-kui-dark-amber-200: oklch(24.9344% 0.0555 65.9121);
	--color-kui-dark-amber-300: oklch(32.4473% 0.0756 60.687);
	--color-kui-dark-amber-400: oklch(35.5311% 0.0789 66.2989);
	--color-kui-dark-amber-500: oklch(41.6677% 0.0913 68.1989);
	--color-kui-dark-amber-600: oklch(75.0606% 0.1591 73.867);
	--color-kui-dark-amber-700: oklch(81.6073% 0.1704 77.4364);
	--color-kui-dark-amber-800: oklch(77.195% 0.1737 64.553);
	--color-kui-dark-amber-900: oklch(77.195% 0.1737 64.553);
	--color-kui-dark-amber-1000: oklch(96.6815% 0.0363 86.201);

	--color-kui-dark-green-100: oklch(23.0894% 0.0652 148.9603);
	--color-kui-dark-green-200: oklch(27.3456% 0.0769 149.1572);
	--color-kui-dark-green-300: oklch(29.7606% 0.083 149.5069);
	--color-kui-dark-green-400: oklch(34.3602% 0.1006 147.5806);
	--color-kui-dark-green-500: oklch(44.4018% 0.1356 146.0254);
	--color-kui-dark-green-600: oklch(58.0296% 0.175 146.4735);
	--color-kui-dark-green-700: oklch(64.5742% 0.1917 147.0614);
	--color-kui-dark-green-800: oklch(57.7915% 0.1708 147.2131);
	--color-kui-dark-green-900: oklch(73.1758% 0.2115 148.0707);
	--color-kui-dark-green-1000: oklch(96.6752% 0.0515 154.8344);

	--color-kui-dark-teal-100: oklch(22.1695% 0.0407 178.2166);
	--color-kui-dark-teal-200: oklch(25.1393% 0.0462 178.2614);
	--color-kui-dark-teal-300: oklch(31.575% 0.0572 180.3964);
	--color-kui-dark-teal-400: oklch(32.8939% 0.0606 177.9514);
	--color-kui-dark-teal-500: oklch(43.5078% 0.0788 180.3332);
	--color-kui-dark-teal-600: oklch(60.8864% 0.1107 179.7988);
	--color-kui-dark-teal-700: oklch(65.3027% 0.1178 180.9625);
	--color-kui-dark-teal-800: oklch(57.6937% 0.1039 181.1792);
	--color-kui-dark-teal-900: oklch(75.0221% 0.1341 182.4545);
	--color-kui-dark-teal-1000: oklch(96.3375% 0.0516 181.4931);

	--color-kui-dark-purple-100: oklch(22.3265% 0.0781 316.3114);
	--color-kui-dark-purple-200: oklch(25.9546% 0.0931 314.7826);
	--color-kui-dark-purple-300: oklch(31.9028% 0.1223 312.271);
	--color-kui-dark-purple-400: oklch(35.907% 0.1497 309.437);
	--color-kui-dark-purple-500: oklch(41.0267% 0.1718 307.6915);
	--color-kui-dark-purple-600: oklch(55.5385% 0.219 306.2242);
	--color-kui-dark-purple-700: oklch(55.5385% 0.219 306.2242);
	--color-kui-dark-purple-800: oklch(48.5035% 0.2101 305.8005);
	--color-kui-dark-purple-900: oklch(69.8356% 0.2044 309.7297);
	--color-kui-dark-purple-1000: oklch(96.1523% 0.0276 316.514);

	--color-kui-dark-pink-100: oklch(22.609% 0.0624 353.8748);
	--color-kui-dark-pink-200: oklch(26.0912% 0.086 356.6741);
	--color-kui-dark-pink-300: oklch(31.1388% 0.107 356.3347);
	--color-kui-dark-pink-400: oklch(32.0542% 0.1174 356.7554);
	--color-kui-dark-pink-500: oklch(37.0736% 0.1459 358.3723);
	--color-kui-dark-pink-600: oklch(50.56% 0.2032 4.5849);
	--color-kui-dark-pink-700: oklch(63.488% 0.2345 1.037);
	--color-kui-dark-pink-800: oklch(59.5536% 0.2396 4.1085);
	--color-kui-dark-pink-900: oklch(69.0182% 0.2134 3.6122);
	--color-kui-dark-pink-1000: oklch(95.6644% 0.0262 346.8523);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-kui-light-gray-200, currentcolor);
	}
}

.dark *,
.dark ::after,
.dark ::before,
.dark ::backdrop,
.dark ::file-selector-button {
	border-color: var(--color-kui-dark-gray-200, currentcolor);
}
